.section {
  max-width: 1620px;
  margin: 0 auto;
  margin-top: 100px;
}

.sectionHeader {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 105px;
  margin-left: -5px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 20px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }

  p {
    margin-left: 20px;
    color: #e8cf7a;
    font-family: "Exo 2";
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.1;
  }
}

.partenersGrid {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 35px -115px 40px -115px;
  gap: 15px;
}

.imageContainer {
  width: 230px;
  height: 210px;
  position: relative;
}
