.section {
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.sectionHeader {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin: 105px 0 40px 145px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 20px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }

  p {
    margin-left: 20px;
    color: #e8cf7a;
    font-family: "Exo 2";
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.1;
  }
}

.partenersGrid {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin: 0 45px;
}

.imageContainer {
  width: 230px;
  height: 210px;
  position: relative;
}

@media (max-width: 1600px) {
  .sectionHeader {
    margin: 50px 0 98px 50px;
  }
}

@media (max-width: 1440px) {
  .imageContainer {
    width: 160px;
    height: 147px;
  }
}

@media (max-width: 1100px) {
  .section {
    padding-bottom: 85px;
  }

  .partenersGrid {
    grid-template-columns: 1fr 1fr;
    margin: 0 10px;
  }

  .sectionHeader {
    padding-top: 15px;
    margin-left: 24px;
    margin-bottom: 70px;

    &::before {
      width: 3px;
    }

    h3 {
      font-size: 2rem;
      margin-left: 20px;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 600px) {
  .section {
    padding-bottom: 70px;
  }

  .sectionHeader {
    padding-top: 3px;
    padding-bottom: 7px;
    margin-top: 5px;
    margin-left: 14px;
    margin-bottom: 35px;

    &::before {
      width: 2px;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 15px;
    }

    p {
      font-size: 0.875rem;
      margin-left: 15px;
    }
  }

  .partenersGrid {
    margin: 0;
    row-gap: 47px;
    column-gap: 5px;
  }
}

@media (max-width: 450px) {
  .imageContainer {
    width: 140px;
    height: 100px;
  }
}
