.flipCardFront {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flipCardBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  box-shadow: 0px 10px 36px 0px rgba(162, 162, 162, 0.6);
}

.productName {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-top: 16px;
}

.firstRow,
.secondRow {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  max-width: 234px;
}

// Flip card setup
.flipCard {
  background-color: transparent;
  perspective: 1000px;
  height: 437px;
  width: 387px;
}

/* This container is needed to position the front and back side */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipCardFront {
  color: black;
}

/* Style the back side */
.flipCardBack {
  color: white;
  transform: rotateY(180deg);
}

@media (max-width: 1700px) {
  .flipCard {
    height: 380px;
    width: 320px;
  }

  .flipCardFront {
    img {
      width: 320px;
      height: 320px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1440px) {
  .flipCard {
    height: 310px;
    width: 250px;
  }

  .flipCardFront {
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }

  .firstRow,
  .secondRow,
  .productName {
    font-size: 1.25rem;
  }
}

@media (max-width: 1100px) {
  .flipCard {
    width: 168px;
    height: 198px;
  }

  .flipCardFront {
    img {
      width: 168px;
      height: 168px;
      object-fit: cover;
    }
  }

  .productName {
    margin-top: 7px;
  }

  .firstRow,
  .secondRow,
  .productName {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.71;
  }
}

@media (max-width: 420px) {
  .flipCard {
    width: 156px;
    height: 166px;
  }

  .firstRow,
  .secondRow {
    padding: 0 15px;
  }

  .flipCardFront {
    img {
      width: 156px;
      height: 146px;
    }
  }

  .productName {
    margin-top: 10px;
    white-space: nowrap;
  }
}
