.section {
  max-width: 1820px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  margin-top: 100px;
  z-index: 2;
  position: relative;
  display: inline-block;
  margin: 100px auto 0 auto;
  padding-bottom: 5px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 23px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }
}

.sectionSubTitle {
  z-index: 2;
  margin-top: 20px;
  color: #e8cf7a;
  text-align: center;
  font-size: 1.625em;
  font-weight: 500;
  line-height: 110%;
}

.partenersGrid {
  margin-top: 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 60px;
  gap: 15px;
}

.imageContainer {
  width: 230px;
  height: 210px;
  position: relative;
}
