:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body {
  background: #212122;
  display: flex;
  flex-direction: column;
}

/* MUI Overrides */

.MuiButton-root {
  color: #191a19;
  font-size: 2rem;
  text-transform: none;
  line-height: 1;
  border-radius: 0;
}
