:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body {
  background: #212122;
  display: flex;
  flex-direction: column;
}

/* MUI Overrides */

.MuiButton-root {
  color: #191a19;
  font-size: 2rem;
  text-transform: none;
  line-height: 1;
  border-radius: 0;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #212122;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #212122;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e8cf7a;
}

/* Breakpoints for images */

/* 1100 and more */

.visibleOn1100AndMore {
  display: none;
}

@media (min-width: 1100px) {
  .visibleOn1100AndMore {
    display: block;
  }
}

/* 1100 Less */
.visibleOn1100Less {
  display: none;
}

@media (max-width: 1099px) {
  .visibleOn1100Less {
    display: block;
  }
}

/* 500 and less */
.visibleOn500AndLess {
  display: none;
}

@media (max-width: 500px) {
  .visibleOn500AndLess {
    display: block;
  }
}

/* 1100 to 500 */
.visibleBetween500And1100 {
  display: none;
}

@media (min-width: 501px) and (max-width: 1099px) {
  .visibleBetween500And1100 {
    display: block;
  }
}
