.section {
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  position: relative;

  max-width: 1920px;
  margin: 0 auto;
  margin-top: 110px;
  padding-bottom: 55px;
}

.sectionWrapper {
  padding: 0 150px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sectionImage {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  position: absolute;
}

.sectionHeader {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  margin-top: 100px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 20px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }
}

.aboutDescription {
  color: #fff;
  font-weight: 400;
  line-height: 1.181;
  font-size: 1.375rem;
  margin-top: 56px;
  font-family: "Qanelas";
}

.left {
  max-width: 770px;
}

.right {
  display: grid;
  gap: 120px;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  margin-left: 53px;
  margin-top: 100px;
}

.card {
  background: #212122;
  box-shadow: 0px 10px 36px 0px rgba(162, 162, 162, 0.5);
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 7px 22px 0 22px;
  align-items: center;

  &:nth-child(2) {
    padding-top: 16px;
  }

  &:nth-child(3) {
    padding-top: 29px;
    padding-right: 2px;
    padding-left: 16px;

    .cardTitle {
      margin-bottom: 18px;
    }
  }

  &:nth-child(4) {
    padding-top: 18px;
    padding-right: 4px;
    padding-left: 14px;

    .cardTitle {
      margin-bottom: 13px;
      margin-top: 40px;
    }
  }
}

.cardInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 45px;
  text-align: center;
  color: #fdc019;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;

  &::before {
    position: absolute;
    content: "";
    top: -22px;
    width: 32px;
    height: 3px;
    background: #fdc019;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cardData {
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.22;
  font-family: "Qanelas";
  text-align: center;
}

.desktopImage {
  display: block;
}

.tabletImage {
  display: none;
}

.mobileImage {
  display: none;
}

@media (max-width: 1800px) {
  .right {
    gap: 20px;
  }
}

@media (max-width: 1600px) {
  .sectionWrapper {
    padding: 0 50px;
  }
}

@media (max-width: 1440px) {
  .aboutDescription {
    font-size: 1.187rem;
    margin-top: 30px;
    line-height: 1.157;
  }

  .sectionWrapper {
    flex-direction: column;
    align-items: normal;
  }

  .left {
    max-width: 100%;
  }

  .right {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 0;
    margin-top: 30px;
    justify-content: space-between;
  }

  .cardImage {
    width: 40px;
    height: auto;
  }

  .cardTitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 25px;

    span {
      font-size: 0.8125rem;
    }
  }

  .cardData {
    font-size: 0.75rem;
    line-height: 1.833;
  }

  .card {
    width: 230px;
    height: 281px;
    padding: 7px 8px 0 10px;

    .cardTitle {
      margin-bottom: 3px;
      &::before {
        top: -8px;
        height: 1px;
      }
    }

    &:nth-child(2) {
      padding-top: 10px;

      .cardTitle {
        margin-bottom: 5px;
        margin-top: 25px;

        &::before {
          margin-top: -5px;
        }
      }
    }

    &:nth-child(3) {
      padding-top: 10px;
      padding-left: 11px;

      .cardTitle {
        margin-top: 25px;
        margin-bottom: 7px;
        margin-left: -5px;

        &::before {
          margin-top: -5px;
        }
      }
    }

    &:nth-child(4) {
      padding-top: 4px;
      padding-left: 6px;

      .cardTitle {
        margin-top: 15px;

        &::before {
          margin-top: 2px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .card {
    width: 156px;
    height: 281px;
    position: relative;

    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 115px;
      transform: rotate(180deg);
      background: linear-gradient(
        180deg,
        #212122 0%,
        rgba(33, 33, 34, 0) 64.42%
      );
    }
  }

  .cardInner {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 40px;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  .desktopImage {
    display: none;
  }

  .tabletImage {
    display: block;
  }

  .mobileImage {
    display: none;
  }

  .section {
    margin-top: 78px;
  }

  .sectionWrapper {
    padding: 0 24px;
    align-items: normal;
  }

  .sectionHeader {
    padding: 11px 0 6px 0px;
    margin-left: 0;
    margin-top: 20px;

    &::before {
      width: 3px;
    }

    h3 {
      font-size: 2rem;
      margin-left: 15px;
    }
  }
}

@media (max-width: 730px) {
  .right {
    grid-template-columns: 1fr 1fr;
  }

  .desktopImage {
    display: none;
  }

  .tabletImage {
    display: none;
  }

  .mobileImage {
    display: block;
  }
}

@media (max-width: 500px) {
  .section {
    margin-top: 63px;
  }

  .sectionHeader {
    margin-top: 20px;
    padding: 9px 0 6px 0px;

    &::before {
      width: 2px;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }

  .sectionWrapper {
    padding: 0 16px;
  }

  .aboutDescription {
    font-size: 0.875rem;
    margin-top: 15px;
    line-height: 1.571;
  }

  .right {
    margin-top: 25px;
  }
}
