.section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  min-height: 816px;
  position: relative;

  max-width: 1920px;
  margin: 0 auto;
}

.sectionImage {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  position: absolute;
}

.sectionHeader {
  z-index: 3;
  position: relative;
  margin: 105px auto 56px auto;
  margin-left: 150px;

  padding: 6px 0 8px 0;

  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 23px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }
}

.certificatesContainer {
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 9px;
}

.certificateContainer {
  width: 398px;
  height: 480px;
  background: #fff;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-10px);
  }
}
