.section {
  display: flex;
  justify-content: space-between;
  padding: 100px 150px 100px 10px;

  max-width: 1920px;
  margin: 0 auto;
}

.resourcesAvailabilityHeader {
  padding: 9px 0;
  margin-top: 90px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 23px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }
}

.right {
  margin-left: 30px;

  p {
    margin-top: 89px;
    color: #fff;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    span {
      color: #e8cf7a;
    }
  }
}

.btn {
  padding: 15px 79px;
  margin-top: 82px;
  color: #191a19;
}

@media (max-width: 1600px) {
  .section {
    padding-right: 50px;
  }
}

@media (max-width: 1440px) {
  .image {
    min-width: 50%;

    & > img {
      width: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1100px) {
  .section {
    flex-direction: column-reverse;
    padding: 36px 24px 50px 24px;
  }

  .resourcesAvailabilityHeader {
    margin-right: auto;

    &::before {
      width: 3px;
    }

    h3 {
      font-size: 2rem;
      margin-left: 20px;
    }
  }

  .image {
    margin-top: 0;
  }

  .right {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;

    p {
      margin-top: 55px;
      margin-bottom: 40px;
      font-size: 1.1875rem;
    }
  }

  .btn {
    margin-top: 50px;
    padding: 14px 24px;
  }
}
