.section {
  display: flex;
  flex-direction: column;
  min-height: 732px;
  position: relative;

  max-width: 1920px;
  margin: 0 auto;
}

.sectionWrapper {
  padding: 0 150px;
  z-index: 2;
}

.sectionImage {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  position: absolute;
}

.sectionHeader {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 105px;
  margin-left: -5px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 20px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }

  p {
    margin-left: 20px;
    color: #e8cf7a;
    font-family: "Exo 2";
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.1;
  }
}

.cardsWrapper {
  justify-content: space-between;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-top: 56px;
}

.card {
  width: 360px;
  height: 380px;
  box-shadow: 0px 10px 36px 0px rgba(162, 162, 162, 0.5);
  background: #161616;
  padding: 13px 28px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-10px);
  }
}

.cardNumber {
  color: #fff;
  font-family: "Exo 2";
  font-size: 3.75rem;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
  padding-bottom: 32px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 32px;
    height: 3px;
    background: #e8cf7a;
  }
}

.cardTitle {
  margin-top: 20px;
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.62rem;
  line-height: 1;
  font-weight: 400;
}

@media (max-width: 1800px) {
  .cardsWrapper {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .sectionWrapper {
    padding-bottom: 50px;
  }

  .sectionImage {
    height: 100%;
  }
}

@media (max-width: 1600px) {
  .sectionWrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1100px) {
  .cardsWrapper {
    margin-top: 60px;
    row-gap: 40px;
  }

  .card {
    width: 350px;
    height: 370px;
  }

  .sectionWrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sectionHeader {
    padding-top: 15px;
    margin: 54px 0 0 0;
    padding-top: 7px;
    padding-bottom: 13px;

    &::before {
      width: 3px;
    }

    h3 {
      font-size: 2rem;
      margin-left: 20px;
    }

    p {
      font-size: 1.625rem;
      max-width: 570px;
    }
  }
}
