.section {
  display: flex;
  flex-direction: column;
  min-height: 732px;
  position: relative;

  max-width: 1920px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 190px;
    z-index: 4;
    background: linear-gradient(180deg, #212122 0%, rgba(33, 33, 34, 0) 64.42%);
    transform: rotate(180deg);
  }
}

.sectionWrapper {
  padding: 0 150px;
  z-index: 9;
}

.sectionImage {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  position: absolute;
}

.sectionHeader {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 105px;
  margin-left: -5px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 20px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }

  p {
    margin-left: 20px;
    color: #e8cf7a;
    font-family: "Exo 2";
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.1;
  }
}

.cardsWrapper {
  justify-content: space-between;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-top: 56px;
}

.card {
  width: 380px;
  height: 400px;
  box-shadow: 0px 10px 36px 0px rgba(162, 162, 162, 0.5);
  background: #161616;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;

  &:hover {
    transform: translateY(-10px);
  }
}

.cardTitleWrapper {
  display: flex;
  align-items: center;
}

.cardNumber {
  color: #e8cf7a;
  font-size: 1.875rem;
  margin-right: 2px;
  font-weight: 600;
}

.cardTitle {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.562rem;
  line-height: 1;
  font-weight: 500;
  line-height: 0.88;
}

.cardContent {
  font-size: 1.0625rem;
  line-height: 1.294;
  font-weight: 400;
  font-family: "Qanelas";
  color: #fff;
  margin-top: 15px;
  margin-bottom: 30px;
}

@media (max-width: 1800px) {
  .card {
    height: 380px;
  }

  .cardsWrapper {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .sectionWrapper {
    padding-bottom: 50px;
  }

  .sectionImage {
    height: 100%;
  }
}

@media (max-width: 1600px) {
  .sectionWrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1100px) {
  .section {
    &::after {
      height: 100px;
    }
  }

  .cardsWrapper {
    margin-top: 60px;
    row-gap: 40px;
  }

  .card {
    width: 350px;
    height: 370px;

    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 115px;
      transform: rotate(180deg);
      background: linear-gradient(
        180deg,
        #212122 0%,
        rgba(33, 33, 34, 0) 64.42%
      );
    }
  }

  .sectionWrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sectionHeader {
    padding-top: 15px;
    margin: 54px 0 0 0;
    padding-top: 7px;
    padding-bottom: 13px;

    &::before {
      width: 3px;
    }

    h3 {
      font-size: 2rem;
      margin-left: 20px;
    }

    p {
      font-size: 1.625rem;
      max-width: 570px;
    }
  }

  .cardInner {
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
}

@media (max-width: 760px) {
  .card {
    width: 250px;
    height: 300px;
  }

  .cardNumber {
    font-size: 1.5625rem;
  }

  .cardTitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .section {
    &::after {
      height: 50px;
    }
  }

  .section {
    min-height: 445px;
  }

  .sectionWrapper {
    padding: 0 14px;
  }

  .sectionHeader {
    padding-bottom: 7px;
    padding-top: 7px;
    margin-top: 7px;

    &::before {
      width: 2px;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 15px;
    }

    p {
      font-size: 0.875rem;
      margin-left: 15px;
    }
  }

  .card {
    width: 160px;
    height: 150px;
  }

  .cardNumber {
    font-size: 1.25rem;
    margin-right: 10px;
  }

  .cardTitle {
    font-size: 0.875rem;
  }

  .cardContent {
    font-size: 0.875rem;
  }

  .cardsWrapper {
    margin-top: 23px;
    row-gap: 35px;
    column-gap: 22px;
  }
}
