.section {
  display: flex;
  justify-content: space-between;
  padding: 100px 10px 127px 150px;

  max-width: 1920px;
  margin: 0 auto;
}

.aboutUsHeader {
  padding: 10px 0;
  margin-top: -3px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 23px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
  }
}

.left {
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;

  p {
    margin-top: 30px;
    color: #fff;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.181;
    font-family: Qanelas;
  }
}

.btn {
  margin-top: 60px;
  padding: 23px 50px;
  font-size: 1.5rem;
  background: #e8cf7a;
  color: #212122;
  font-family: "Qanelas";
}

@media (max-width: 1600px) {
  .section {
    padding-left: 50px;
  }
}

@media (max-width: 1500px) {
  .image {
    min-width: 50%;

    & > img {
      width: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1100px) {
  .section {
    flex-direction: column;
    padding: 36px 24px 50px 24px;
  }

  .aboutUsHeader {
    margin-right: auto;

    &::before {
      width: 3px;
    }

    h3 {
      font-size: 2rem;
      margin-left: 14px;
    }
  }

  .left {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-top: 51px;
      font-size: 1.1875rem;
    }
  }

  .btn {
    margin-top: 50px;
    padding: 14px 24px;
  }

  .image {
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 24px 14px 26px 14px;
  }

  .left {
    margin-right: 0;
    p {
      font-size: 0.875rem;
      margin-top: 18px;
      line-height: 1.571;
    }
  }

  .aboutUsHeader {
    padding: 10px 0 6px 0;

    &::before {
      width: 2px;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 12px;
    }
  }

  .btn {
    margin-top: 18px;
    font-size: 1.125rem;
    margin-left: 3px;
    padding: 11px 18px;
  }

  .image {
    margin-top: 29px;

    img {
      height: auto;
    }
  }
}
