.section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  min-height: 1227px;
  position: relative;

  max-width: 1920px;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    content: "";
    background: linear-gradient(180deg, #212122 0%, rgba(33, 33, 34, 0) 64.42%);
    height: 192px;
    z-index: 3;
  }

  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    content: "";
    background: linear-gradient(180deg, #212122 0%, rgba(33, 33, 34, 0) 64.42%);
    height: 192px;
    z-index: 3;
    transform: rotate(180deg);
  }
}

.contentContainer {
  z-index: 9;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionHeader {
  z-index: 2;
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
  margin-top: 105px;
  margin-left: -5px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 20px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }

  p {
    margin-left: 20px;
    color: #e8cf7a;
    font-family: "Exo 2";
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1.1;
  }
}

.sectionImage {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  position: absolute;
}

.contactFormSubmitBtn {
  font-family: "Qanelas";
  margin-right: auto;
  padding: 24px 88px;
  font-size: 1.5rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 56px;
  margin-top: 64px;
}

.contactFormInput {
  width: 700px;

  :global(.MuiFormLabel-root[data-shrink="false"]) {
    top: 5px;
  }
}

.contactFormTextFieldMobile {
  width: 100%;

  :global(.MuiInputBase-root) {
    height: 70px;
  }

  :global(.MuiInputBase-input) {
    height: 50px !important;
  }

  :global(.MuiFormLabel-root[data-shrink="false"]) {
    font-size: 0.75rem;
  }

  :global(.MuiFormLabel-root[data-shrink="false"]) {
    top: -5px;
  }

  :global(.MuiInputBase-root.Mui-focused) {
    background: rgba(33, 33, 34, 0.65);
    backdrop-filter: blur(2px);
  }
}

@media (max-width: 1600px) {
  .contentContainer {
    margin-left: 50px;
  }
}

@media (max-width: 1100px) {
  .section {
    min-height: auto;
    padding-bottom: 45px;

    &::before {
      height: 80px;
    }

    &::after {
      height: 80px;
    }
  }

  .sectionHeader {
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: -1px;

    &::before {
      width: 3px;
    }

    h3 {
      font-size: 2rem;
      margin-left: 20px;
      margin-bottom: 5px;
    }

    p {
      font-size: 1.625rem;
    }
  }

  .contentContainer {
    margin-left: 24px;
    margin-right: 24px;
  }

  .contactForm {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 21px;
    row-gap: 30px;
  }

  .contactFormInput {
    min-width: 220px;
    flex: calc(50% - 30px);
    height: 60px;

    :global(.MuiFormLabel-root[data-shrink="false"]) {
      font-size: 0.75rem;
    }
  }

  .contactFormTextField {
    width: calc(50% - 10px);

    :global(.MuiInputBase-root) {
      height: 180px;
    }

    :global(.MuiFormLabel-root[data-shrink="false"]) {
      font-size: 0.75rem;
    }
  }

  .contactForm {
    margin-top: 43px;
  }

  .contactFormSubmitBtn {
    align-self: flex-start;
    justify-self: flex-start;
    flex-basis: 100%;
    font-size: 1.125rem;
    padding: 17px 72px;
  }

  .contactFormSubmitBtnWrapper {
    flex-basis: 100%;
    margin-top: 10px;
  }

  .sectionImage {
    height: 100%;
  }

  .contactFormTextField,
  .contactFormInput {
    :global(.MuiInputBase-root.Mui-focused) {
      background: rgba(33, 33, 34, 0.65);
      backdrop-filter: blur(2px);
    }
  }
}

@media (max-width: 750px) {
  .section {
    &::before {
      height: 60px;
    }

    &::after {
      height: 60px;
    }
  }

  .contactForm {
    width: 100%;
    flex-direction: column;
  }

  .contactFormInput {
    min-width: 150px;
    max-width: none;
    width: 100%;
    flex: none;
  }

  .contactFormTextField {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .section {
    margin-top: 40px;
  }

  .contentContainer {
    margin-left: 14px;
    margin-right: 14px;
  }

  .contactForm {
    margin-top: 20px;
    row-gap: 8px;
    max-width: 400;
  }

  .sectionHeader {
    padding-bottom: 7px;
    padding-top: 7px;
    margin-top: 0;

    &::before {
      width: 2px;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 15px;
    }

    p {
      font-size: 0.875rem;
      margin-left: 15px;
    }
  }

  .contactFormTextField {
    :global(.MuiInputBase-root) {
      height: 120px;
    }

    :global(.MuiFormLabel-root[data-shrink="false"]) {
      top: -5px;
    }
  }

  .contactFormInput {
    :global(.MuiFormLabel-root[data-shrink="false"]) {
      top: -5px;
    }

    :global(.MuiInputBase-input) {
      padding: 0;
      height: 25px;
      padding-left: 15px;
    }
  }

  .contactFormSubmitBtnWrapper {
    margin-top: 20px;
  }

  .contactFormSubmitBtn {
    padding: 11px 46px;
  }
}
