.section {
  padding: 0 150px;

  max-width: 1920px;
  margin: 0 auto;
  margin-top: 204px;
}

.sectionHeader {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 23px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }

  p {
    margin-left: 23px;
    color: #e8cf7a;
    font-family: "Exo 2";
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.16;
  }
}

.imagesCarouselWrapper {
  margin: 0 -150px;
  position: relative;
}

.imagesCarousel {
  display: flex;

  padding-top: 155px;
  padding-bottom: 45px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.imageWrapper {
  position: relative;
  position: relative;
  z-index: 1;

  p {
    text-align: center;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 46px;
    color: #fff;
    transition: all 0.2s;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      height: 3px;
      background: #e8cf7a;
      bottom: -10px;
      opacity: 0;
      transition: all 0.2s;
    }
  }

  &:hover {
    z-index: 5;

    p {
      bottom: 8px;

      &::after {
        opacity: 1;
      }
    }

    img {
      height: 803px;
      width: 638px;
      margin: -37px -92px;
    }

    &::before {
      margin: -37px -92px;
      background: linear-gradient(
        180deg,
        rgba(33, 33, 34, 0) 72.86%,
        rgba(33, 33, 34, 0) 82.88%,
        #212122 99.97%
      );
      border: 2.969px solid #e8cf7a;
    }
  }

  &::before {
    content: "";
    transition: all 0.2s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(33, 33, 34, 0) 1.84%,
      rgba(33, 33, 34, 0.65) 84.25%,
      rgba(33, 33, 34, 0.8) 99.97%
    );
  }
}

.image {
  user-select: none;
  height: 730px;
  width: 455px;
  object-fit: cover;
  transition: all 0.2s;
}

.leftArrowBtn {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}

.rightArrowBtn {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .section {
    padding: 0 50px;
  }

  .imagesCarouselWrapper {
    margin: 0 -50px;
  }
}

@media (max-width: 1100px) {
  .section {
    padding: 0 24px;
    margin-bottom: 35px;
    margin-top: 30px;
  }

  .imagesCarouselWrapper {
    margin: 0 -24px;
  }

  .imagesCarousel {
    padding-top: 100px;
  }

  .image {
    width: 270px;
    height: 400px;
  }

  .imageWrapper {
    p {
      font-size: 1.25rem;
      bottom: 14px;

      &::after {
        display: none;
      }
    }

    &:hover {
      p {
        bottom: -20px;
      }

      img {
        height: 500px;
        width: 306px;
        margin: -60px -18px;
      }

      &::before {
        margin: -60px -18px -40px -18px;
      }
    }
  }

  .sectionHeader {
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: -1px;

    &::before {
      width: 3px;
    }

    h3 {
      font-size: 2rem;
      margin-left: 20px;
      margin-bottom: 5px;
    }

    p {
      font-size: 1.625rem;
    }
  }

  .leftArrowBtn,
  .rightArrowBtn {
    transform: translateY(3px);

    img {
      height: 51px;
      width: auto;
    }
  }
}

@media (max-width: 600px) {
  .section {
    padding: 0 14px;
  }

  .imagesCarouselWrapper {
    margin: 0 -14px;
  }

  .sectionHeader {
    padding-top: 7px;
    margin-top: 10px;

    &::before {
      width: 2px;
    }

    h3 {
      font-size: 1.5rem;
      margin-left: 15px;
    }

    p {
      font-size: 0.875rem;
      margin-left: 15px;
    }
  }

  .imagesCarousel {
    padding-top: 60px;
  }

  .image {
    height: 270px;
    width: 158px;
  }

  .imageWrapper {
    p {
      font-size: 0.625rem;
      bottom: 12px;

      &::after {
        display: none;
      }
    }

    &:hover {
      p {
        bottom: -4px;
      }

      img {
        height: 310px;
        width: 180px;
        margin: -20px -11px;
      }

      &::before {
        margin: -21px -11px -18px -11px;
      }
    }
  }

  .leftArrowBtn,
  .rightArrowBtn {
    img {
      height: 30px;
      width: auto;
    }
  }
}
