.section {
  padding: 0 150px;

  max-width: 1920px;
  margin: 0 auto;
  margin-top: 140px;
}

.sectionHeader {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 56px;
  background: linear-gradient(
    90deg,
    rgba(232, 207, 122, 0.1) 0%,
    rgba(232, 207, 122, 0.01) 58.31%
  );

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e8cf7a;
  }

  h3 {
    margin-left: 23px;
    color: #fff;
    font-family: "Exo 2";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
  }

  p {
    margin-left: 23px;
    color: #e8cf7a;
    font-family: "Exo 2";
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.16;
  }
}

.imagesCarousel {
  margin: 0 -150px;
}

.image {
  width: 385px;
  height: 385px;
  pointer-events: none;
  user-select: none;
}
