.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 65px;
  position: relative;

  &:hover .languages {
    opacity: 1;
    visibility: visible;
  }
}

.expandBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.languages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: transparent;
  padding: 8px 30px 8px 8px;
  position: absolute;
  z-index: 99999;
  bottom: -80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.langBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 1440px) {
  .wrapper {
    margin-left: 40px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    margin-left: auto;
    margin-right: 14px;
  }
}
