.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 65px;
  position: relative;

  &:hover .languages {
    opacity: 1;
    visibility: visible;
  }
}

.expandBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.languages {
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 8px 7px 8px 8px;
  position: absolute;
  z-index: 99999;
  bottom: -70px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
  background: rgba(33, 33, 34, 0.8);
}

.langBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.1);
  }

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.langName {
  font-size: 0.625rem;
  margin-left: 6px;
  color: white;
}

@media (max-width: 1440px) {
  .wrapper {
    margin-left: 40px;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    margin-left: auto;
    margin-right: 14px;
  }

  .languages {
    bottom: -90px;
  }
}
